
$primaryColor: #1DE3C6;
$midDark: #333232;
$veryDark: #1E1E1E;
$mostDark: black;

.draggable-main {
    margin: 0;
    padding: 0;
    height: 1000px;
    width: 100%;
    // overflow: hidden;
    user-select: none;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    // align-items: center;
    background: #f0f0f0;
  }
  
  .content {
    position: relative;
    width: 320px;
    height: 1040px!important; 
    border: solid blue;
  }
  
  .content  .card-wrapper {
    position: absolute;
    // width: 320px;
    height: 300px;
    overflow: visible;
    pointer-events: auto;
    transform-origin: 50% 50% 0px;
    border-radius: 5px;
    color: white;
    padding: 20x;
    border: solid thin red;
  }


.card-wrapper {
    width: 350px;
    background: #333232;
    border: solid thin #000000;

    color: white;
    margin-bottom: 20px;
    padding: 5px;
    .exercise-name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: rgb(184, 184, 61);
        text-transform: uppercase;
        height: 50px;
        font-size: 20px;
        .MuiSvgIcon-root {
            color: $primaryColor;
        }

        .name {
            display: flex;
            align-items: center;

            .icon {
                font-size: 9px;
                margin-right: 5px;
            }
        }
        .edit-btn {
            cursor: pointer;
        }
    }
.value-box {
    display: flex;
    justify-content: space-between;
    background: $veryDark;
    margin: 5px;
    border-left: solid rgb(184, 184, 61);
    padding: 5px 10px 5px 10px;
    color: $primaryColor;
    font-size: 20px;
}

    .first-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        .value-box {
            width: 50%;
        }
    }

    .second-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        .value-box {
            width: 70%;


        }
    }

    .MuiSelect-select, .MuiSvgIcon-root, .MuiInputLabel-root {
        color: $primaryColor;
    }

    .select-item-wrapper {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 10px auto;

        label {
            color: $primaryColor;
            margin-bottom: 5px;
        }
        select {
            background: none;
            color: $primaryColor;
            width: 100%;
            margin: 0px auto;
            padding: 10px;
        }
    }
    
    
}