/** function circular-progress
 **------------------------------------------*/
@function circular-progress93($maxPercent, $percent, $color-bar, $color-back) {

  $increment: 360 / $maxPercent;
  $half: round($maxPercent / 2);
  $background-image: '';

  @if $percent < $half {
    $nextdeg: 90deg +  ($increment * $percent);

    $background-image: 'linear-gradient(90deg, #{$color-back} 50%, transparent 50%, transparent),
    linear-gradient(#{$nextdeg}, #{$color-bar} 50%, #{$color-back} 50%, #{$color-back})';

  } @else {
      $nextdeg: -90deg + ($increment * ($percent - $half));

      $background-image: 'linear-gradient(#{$nextdeg}, #{$color-bar} 50%, transparent 50%, transparent),
      linear-gradient(270deg, #{$color-bar} 50%, #{$color-back} 50%, #{$color-back})';
    }
  @return unquote($background-image);
}







/** circular-progress styles
 **------------------------------------------*/
$percent-to-show: 93;// value to show in the circular progress CHANGE ME

.circular-progress93 {
  //circular-progress function
  //circular-progress($maxPercent, $percent, $color-bar, $color-back);
  background: circular-progress(100, $percent-to-show, $light-gray, #E0E0E0);
  
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  height: 200px;
  margin: 2em auto;
  position: relative;
  width: 200px;
  transition: all .3s linear;
  
  &::before {
    background-color: $dark-gray;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: white;
    content: '#{$percent-to-show}%';
    font-size: 72px;
    height: 100%;
    left: 0;
    line-height: 200px;
    position: absolute;
    text-align: center;
    top: 0;
    transform: scale(.87);
    width: 100%;
  }
}


