
/*FOOTER*/
#main_footer {
    height: 100px;
    padding: 40px 0px;
    margin-top: 0px;
    // margin-bottom: -25px;
    border-top: solid thin gray;
}

.footer {
    background: $dark-gray; 
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer img {
    margin-left: 0.5rem;
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

