

.home {
    display: flex;
    flex-direction: column;
    .firstRowWrapper{
        height: 95vh;
    }
    .homeBanner {
        display: flex;
        justify-content: center;
        height: 50%;
    }

    .bannerContent {
        margin-top: 5%;
    }
    .bannerLogo {
        width: 200px;        
    }

    .whiteSpan {
        color:gray;
    }

    .NavRow {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 50%;
        width: 100%;
    }
    

    .hover-box-2 {
        display: flex;
        flex-direction: column;
        transition: all 0.5s ease;
        background: $dark-gray;
        opacity: 0.50;
        width: 30%;
        height: 300px;
        
        .title {
            display: flex;
            align-items: center;
            padding-left: 5px;
            height: 40px;
            h4 {
                color: $primary-blue;
            }
        }
        

        .image {
            display: flex;
            justify-content: center;
            flex-grow: 1;
            width: 100%;
        }
    }

    .hover-box-2:hover {
            opacity: 1.0;

    }

}



@media only screen and (max-width: 524px) {
    .homeBanner {
        height: 100vh!important;
    }

    .bannerContent {
        margin-top: 30%!important;
    }

    .NavRow {
        flex-direction: column;
        height: auto!important;
        
    }

    .hover-box-2 {
        width: 80%!important;
        margin: 5px 0px;
    }
}
