.MainNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: $lightest-gray;
  

    .navList {
        width: 400px;
        border: solid thin red;
    }
    
}
